target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
PokeBatalla/.idea/modules.xml
PokeBatalla/.idea/jarRepositories.xml
PokeBatalla/.idea/compiler.xml
PokeBatalla/.idea/libraries/
PokeBatalla/.idea/codeStyles/Project.xml
PokeBatalla/.idea/codeStyles/codeStyleConfig.xml
PokeBatalla/.idea/vcs.xml

*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store